/* Layout Base */
/* line 13, D:/Projects/Projects/AppX/dev/res/sass-dev/layout.scss */
html {
	min-height: 100%;
}

/* line 17, D:/Projects/Projects/AppX/dev/res/sass-dev/layout.scss */
body {
	position: relative;
	overflow-x: auto;
	overflow-y: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar; 
	min-width: 980px;
	min-height: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

/* Screen */
/* line 27, D:/Projects/Projects/AppX/dev/res/sass-dev/layout.scss */
.screen {
	position: absolute;
	top: 0;
	right: 0; 
	bottom: 0;
	left: 0;
}

/* line 37, D:/Projects/Projects/AppX/dev/res/sass-dev/layout.scss */
.is-screenTransition .screen {
	-webkit-transition: all .5s;
	transition: all .5s;
}

/* line 43, D:/Projects/Projects/AppX/dev/res/sass-dev/layout.scss */
.screen-newScreen {
	-webkit-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	transform: translate(100%, 0);
}

/* line 49, D:/Projects/Projects/AppX/dev/res/sass-dev/layout.scss */
.is-reverseTransition .screen-newScreen {
	-webkit-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

/* line 57, D:/Projects/Projects/AppX/dev/res/sass-dev/layout.scss */
.is-screenTransition .screen-oldScreen {
	-webkit-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}
/* line 63, D:/Projects/Projects/AppX/dev/res/sass-dev/layout.scss */
.is-screenTransition.is-reverseTransition .screen-oldScreen {
	-webkit-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	transform: translate(100%, 0);
}

/* line 73, D:/Projects/Projects/AppX/dev/res/sass-dev/layout.scss */
.is-screenTransition .screen-newScreen {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

/* Templates */
/* line 83, D:/Projects/Projects/AppX/dev/res/sass-dev/layout.scss */
.template {
	display: none;
}

/* High DPI Layout */
/* Large Resolution Layout */
/* Phone Layout */
/* Tablet Layout */
/* TV Layout */
/* Audio Layout */