/* Typography & Rhythm */

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	line-height: 1.5em;

	text-size-adjust: 100%;
}

body {
	color: #000000;
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}

::-webkit-selection {
	color: #ffffff;
	background: #003b9e;
}

::-moz-selection {
	color: #ffffff;
	background: #003b9e;
}

::selection {
	color: #ffffff;
	background: #003b9e;
}

/* High DPI Typography */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {
	html {
		text-rendering: optimizelegibility;
	}
}

/* Phone Typography */

@media handheld, only screen and (max-width: 720px) {
	/* Typography & Rhythm */
}

/* Layout Base */

html {
	-webkit-overflow-scrolling: touch;
	min-height: 100%;
}

body {
	position: relative;
	overflow-x: auto;
	overflow-y: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	min-width: 980px;
	min-height: 100%;
	max-width: 1400px;
	margin: 0 auto;
	background: #ffffff;
}

/* Templates */

.template {
	display: none;
}

/* Forms */

input::-moz-focus-inner, button::-moz-focus-inner {
	padding: 0;
	border: 0;
}