@import 'project/project';



// Layout



/* Layout Base */

html {
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  @include tx-set-boundaries($desktop-min);
  @include tx-scroll-bar(true);
  position: relative;
  background: $background;
}



/* Screen */

%screenRight {
  transform: translate(100%, 0);
}

%screenLeft {
  transform: translate(-100%, 0);
}

.screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &-newScreen {
    @extend %screenRight;
  }

}

.is-screenTransition {

  .screen {
    transition: $UITransition-screen;

    &-newScreen {
      transform: translate(0, 0);
    }

    &-oldScreen {
      @extend %screenLeft;
    }

  }

  &.is-reverseTransition {

    .screen-oldScreen {
      @extend %screenRight;
    }

  }

}

.is-reverseTransition {

  .screen-newScreen {
    @extend %screenLeft;
  }

}



/* Templates */

.template {
  display: none;
}



/* High DPI Layout */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {}



/* Large Resolution Layout */

@media only screen and (min-width: $desktop-wide-rem) {}



/* Tablet Layout */

@media only screen and (max-width: $desktop-min-rem) {}

@media only screen and (max-width: $desktop-min-rem) and (min-resolution: 1.5dppx), only screen and (max-width: $desktop-min-rem) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: $desktop-min-rem) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: $desktop-min-rem) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: $desktop-min-rem) and (min-device-pixel-ratio: 1.5), only screen and (max-width: $desktop-min-rem) and (min-resolution: 150dpi) {}



/* Phone Layout */

@media handheld, only screen and (max-width: $phone-max-rem) {

  @import 'phone/layout-phone';

}

@media only screen and (max-width: $phone-max-rem) and (min-resolution: 1.5dppx), only screen and (max-width: $phone-max-rem) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: $phone-max-rem) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: $phone-max-rem) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: $phone-max-rem) and (min-device-pixel-ratio: 1.5), only screen and (max-width: $phone-max-rem) and (min-resolution: 150dpi) {}



/* Standalone Layout */

@media all and (display-mode: standalone) {}



/* Fullscreen Layout */

@media all and (display-mode: fullscreen) {}



/* TV Layout */

@media projection, tv {}



/* Audio Layout */

@media aural {}
