/* Layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000316}}
html {
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000319}}
body {
  position: relative;
  min-width: 980px;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  background: white; }

/* Screen */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000329}}
.screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000338}}
.screenTransition .screen {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000341}}
.newScreen {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000346}}
.reverseTransition .newScreen {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000351}}
.screenTransition .oldScreen {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000356}}
.screenTransition.reverseTransition .oldScreen {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000361}}
.screenTransition .newScreen {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

/* Templates */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000368}}
.template {
  display: none; }

/* Large Resolutions Layout */
/* Print Layout */
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000388}}
  body {
    max-width: none;
    margin: 0 10px;
    padding: 0; } }
/* Small Resolutions Layout */
@media handheld, only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\00003102}}
  html {
    -webkit-text-size-adjust: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\00003105}}
  body {
    min-width: 0;
    max-width: none; } }
/* Smartphones (Landscape) Layout */
/* Smartphones (Portrait) Layout */
/* Tablets Layout */
@media only screen and (min-width: 481px) and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/AppX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\00003136}}
  body {
    min-width: 0;
    max-width: none; } }
/* Tablets (Landscape) Layout */
/* Tablets (Portrait) Layout */
/* TV Layout */
/* Audio Layout */

/*@ sourceMappingURL=layout.css.map */